body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #495e57;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  z-index: 999;
}

main {
  padding-top: 6.25rem;
  min-height: calc(100vh - 6.25rem - 18rem);
}

a {
  text-decoration: none;
  color: #495e57;
}

h1,
h2 {
  line-height: 1;
  font-family: 'Markazi Text';
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

label {
  width: fit-content;
  cursor: pointer;
}

input,
select {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 0.375rem;
  background: #ffffff;
  color: #495e57;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

input:focus,
select:focus {
  border: 1px solid #495e57;
}

label {
  font-weight: bold;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 61.75rem;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.button-primary {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #f4ce14;
  color: #495e57;
  font-weight: bold;
  border: 2px solid #f4ce14;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495e57;
  border-color: #495e57;
  color: #ffffff;
}

/* --------- Header Styles Start ----------*/
.hover-animation {
  display: inline-block;
  position: relative;
}

.hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1.2);
  opacity: 0;
  height: 100%;
  border: 2px solid #495e57;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  transition: opacity 0.15s ease-out;
}

.hover-animation:hover:after {
  opacity: 1;
}

.nav-bar {
  border-bottom: 2px solid #495e57;
  width: 100%;
  max-width: none;
  padding: 0 6%;
  align-items: center;
  grid-template-columns: auto auto auto;
  height: 6.25rem;
}

.nav-bar-logo {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  line-height: 0;
}

.nav-bar-logo img {
  width: 10rem;
  height: 2.75rem;
}

.nav-bar-hamburger {
  grid-column: 2;
  display: none;
  cursor: pointer;
  color: #495e57;
  background-color: transparent;
}

.nav-bar-hamburger svg {
  width: 1.875rem;
  height: 1.875rem;
}

.nav-bar-links {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1.5rem;
  transition: left 300ms linear;
}

.nav-bar-links li {
  list-style-type: none;
  font-weight: 600;
}

.nav-bar-links a {
  height: max-content;
  text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
  .hover-animation:after {
    bottom: -1px;
  }

  .nav-bar {
    grid-template-columns: auto auto;
  }

  .nav-bar-hamburger {
    justify-self: end;
    display: inline-flex;
    border: none;
  }

  .nav-bar-links.expanded {
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.6);
  }

  .nav-bar-links.expanded li {
    width: 100%;
    border-bottom: 1px solid #495e57;
  }

  .nav-bar-links.expanded li a {
    display: block;
    padding: 1rem;
  }

  .nav-bar-links.expanded li:hover {
    background-color: #ebebeb;
  }

  .nav-bar-links {
    position: absolute;
    flex-direction: column;
    width: 75%;
    max-width: 16rem;
    height: 100vh;
    top: 0;
    left: -75%;
    background-color: #ffffff;
    z-index: 100;
  }
}
/* --------- Header Styles End ----------*/

/* --------- Hero Styles Start ----------*/
.hero {
  padding-top: 1.875rem;
  background-color: #495e57;
}

.hero .container {
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.hero-information {
  grid-column: 1;
  align-content: center;
}

.hero-information h1 {
  color: #f4ce14;
  font-size: 3.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.hero-information h2 {
  color: #ffffff;
  font-size: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
}

.hero-information p {
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 1.125rem;
}

.hero-information .button-primary {
  display: inline-block;
  margin-top: 2rem;
}

.hero-information .button-primary:hover,
.hero-information .button-primary:focus {
  border-color: #f4ce14;
}

.hero-image {
  grid-column: 2;
  width: 100%;
  height: 24rem;
  margin-bottom: 2rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 792px) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero-information {
    grid-row: 1;
  }

  .hero-image {
    grid-column: 1;
    grid-row: 2;
  }
}
/* --------- Hero Styles End ----------*/

/* --------- Menu Styles Start ----------*/

.art-board__container {
  overflow: auto;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 295px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
  transition: all 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card__image {
  position: relative;
  height: 140px;
}
.card__image > img {
  max-width: 100%;
  border-bottom-right-radius: 30px;
  transform: rotate(10deg) translate(-15px, -55px);
  position: absolute;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s;
}

.card:hover .card__image > img {
  transform: rotate(0) translate(0, 15px) scale(1.2);
}

.card__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
}
.card__info h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__info p {
  font-size: 14px;
  font-weight: 600;
}
.card__info--price {
  text-align: right;
  color: orangered;
}
.rect2 {
  position: relative;
  bottom: 315px;
  right: 15px;
  width: 325px;
  height: 230px;
  border: 1px solid lavender;
  border-radius: 0 0px 80px 0;
  background-image: url();
  transform: rotate(10deg);
  object-fit: cover;
}
.checked {
  color: #ffd700;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.our-menu {
  font-size: 2.5rem;
  margin-top: 1rem;
}

/* --------- Menu Styles End ----------*/
